<h2>Users</h2>

<form method="get">
  <input type="text" name="q" placeholder="Search email" value="{{ query }}">
  <button type="submit">Search</button>
</form>

<table border="1">
  <tr>
    <th>Email</th>
    <th>Auth</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for user in page_obj %}
  <tr>
    <td>{{ user.email }}</td>
    <td>{{ user.auth_provider }}</td>
    <td>
      {% if user.is_blocked %}
        Blocked
      {% else %}
        Active
      {% endif %}
    </td>
    <td>
      {% if user != request.user %}
        {% if user.is_blocked %}
          <a href="{% url 'admin-confirm-unblock-user' user.id %}">
            Unblock
          </a>
        {% else %}
          <a href="{% url 'admin-confirm-block-user' user.id %}">
            Block
          </a>
        {% endif %}
      {% else %}
        —
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<div>
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">Prev</a>
  {% endif %}

  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">Next</a>
  {% endif %}
</div>
